<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes app</title>
</head>
<body>
    <h3 id="jokes">{{ text }}</h3>

    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/jokes/');

        socket.onmessage = function(event) {
            var joke = event.data;
            document.getElementById('jokes').innerText = joke;

        }
    </script>
</body>
</html>